<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head" />
<body>
	<div class="app">
		<div th:replace="fragments :: header"></div>

		<div class="container my-5">
			<p th:if="${message}"
				th:class="${error != true ? 'alert alert-success text-center' : 'alert alert-error text-center'}">[[${message}]]</p>
			<p th:if="${param.error}" class="alert alert-danger text-center">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
			<p th:if="${param.logout}" class="alert alert-danger text-center">You
				have been logout</p>
			<div class="row justify-content-center">
				<div class="col-md-6">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="login-tab"
								data-bs-toggle="tab" data-bs-target="#login" type="button"
								role="tab" aria-controls="login" aria-selected="true">
								Login</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="register-tab" data-bs-toggle="tab"
								data-bs-target="#register" type="button" role="tab"
								aria-controls="register" aria-selected="false">
								Register</button>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="login" role="tabpanel"
							aria-labelledby="login-tab">
							<form th:action="@{/login}" method="POST">
								<div class="my-3">
									<label class="form-label">Email address</label> <input
										type="email" class="form-control" name="email" required />
								</div>
								<div class="mb-2">
									<label class="form-label">Password</label> <input
										type="password" class="form-control" name="password" required />
								</div>
								<div class="mb-2 form-check">
									<input type="checkbox" class="form-check-input"
										id="remember-me" name="remember-me"> <label
										class="form-check-label" for="remember-me">Remember me</label>
								</div>
								<button type="submit" class="btn btn-primary">Login</button>
							</form>
						</div>
						<div class="tab-pane fade" id="register" role="tabpanel"
							aria-labelledby="register-tab">
							<form th:action="@{/process_register}" method="POST"
								onsubmit="event.preventDefault(); register();">
								<div class="my-2">
									<label class="form-label">Email address</label> <input
										type="email" id="emailregister" class="form-control"
										th:field="${user.email}" required />
								</div>
								<div class="mb-2">
									<label class="form-label">Password</label> <input
										type="password" class="form-control"
										th:field="${user.password}" required />
								</div>
								<div class="mb-2">
									<label class="form-label">First Name</label> <input type="text"
										class="form-control" required th:field="${user.firstName}" />
								</div>
								<div class="mb-2">
									<label class="form-label">Last Name</label> <input type="text"
										class="form-control" required th:field="${user.lastName}" />
								</div>
								<button type="submit" class="btn btn-primary">Sign Up</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="loginModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Warning Register</h5>
							<button type="button" class="btn btn-outline-danger"
								data-bs-dismiss="modal" aria-label="Close">
								<i class="fas fa-times"></i>
							</button>
						</div>
						<div class="modal-body alert alert-warning mb-0">
							<p>The email has been used by another account.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger"
								data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments :: footer"></div>
	</div>
	<div th:replace="fragments :: script(tag)"></div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>
	<script>
			function register(form) {
				crsf = document.querySelector("input[name='_csrf']").value;
				email = document.querySelector("#emailregister").value
				let data = {email: email,_csrf: crsf};
				console.log(data)
				$.post("[[@{/users/check_email}]]", data, function(res) {
					if (res == "Ok") {
						form.submit();
					} else if (res == "Duplicate") {
						var myModal = new bootstrap.Modal(document.getElementById('loginModal'), {
  							keyboard: false
						});
						myModal.show();
					}
				});
				return false;
			}
		</script>
</body>
</html>
