<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head" />
<body>
	<div class="app">
		<div th:replace="fragments :: header"></div>
		<div class="banner">
			<div class="container">
				<div class="row">
					<div class="col-9 d-none d-md-block">
						<div class="banner__img">
							<img src="./images/banner.jpg" alt="" class="img-fluid" />
							<div class="banner__btn">
								<a class="btn btn-outline-secondary" th:href="@{/products}"
									role="button">Shop Now <i class="fas fa-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-3">
						<div class="form__search">
							<div class="form__search-header">
								<h5>QUICK SEARCH</h5>
								<p>Let find your product!!!</p>
							</div>
							<form th:action="@{/products}" method="post">
								<div class="mb-3">
									<select class="form-select" name="categoryId" aria-label="Default select example">
										<option selected value="-1">Search by Category</option>
										<option th:each="category : ${listCategories}" th:value="${category.id}">[[${category.name}]]</option>
									</select>
								</div>
								<div class="mb-3">
									<select class="form-select" name="colorId" aria-label="Default select example">
										<option selected>Search by Color</option>
										<option th:each="color : ${listColors}" th:value="${color.id}">[[${color.value}]]</option>
									</select>
								</div>
								<!-- <div class="mb-3 text-center">
                                        <label
                                            class="lable__color"
                                            for="red"
                                            style="background-color: red"
                                        ></label>
                                        <input
                                            class="input__color"
                                            id="red"
                                            type="checkbox"
                                            value="red"
                                            name="color"
                                            hidden
                                        />
                                        <label
                                            class="lable__color"
                                            for="green"
                                            style="background-color: green"
                                        ></label>
                                        <input
                                            class="input__color"
                                            id="green"
                                            type="checkbox"
                                            name="color"
                                            value="green"
                                            hidden
                                        />
                                    </div> -->
								<div class="mb-3">
									<select class="form-select" name="brandId" aria-label="Default select example">
										<option selected>Search by Brand</option>
										<option th:each="brand : ${listBrands}" th:value="${brand.id}">[[${brand.name}]]</option>
									</select>
								</div>
								<div class="mb-3">
									<select class="form-select" name="styleId" aria-label="Default select example">
										<option selected>Search by Style</option>
										<option th:each="style : ${listStyles}" th:value="${style.id}">[[${style.name}]]</option>
									</select>
								</div>
								<button type="submit" class="btn form__search-submit">
									Find My Pair!</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="feature-products my-5">
			<div class="container">
				<h2 class="products__heading">New Products</h2>
				<div class="row">
					<div th:each="product : ${listNewProduct}"
						class="col-6 col-md-3 px-2">
						<div class="product my-2">
							<a th:href="@{/p/} + ${product.slug}" class="product__link">
								<div class="text-center">
									<img th:src="${product.thumbnailUrl}" alt="Thubmnail Product"
										class="product__thumb img-fluid" />
								</div>
								<hr class="my-2">
								<div class="product__header">
									<h3 class="product__name">[[${product.name}]]</h3>
									<p class="product__price">$[[${product.price}]]</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments :: footer"></div>
	</div>
	<div th:replace="fragments :: script(tag)"></div>
</body>
</html>
